<h2>My PiPlates</h2>
<div>
    <button (click)="toggleDoor()">Garage Door</button>
</div>
<div>
    <label>Most Recent</label>
    <h2>T1: {{ tempfan.TEMP_1 }} T2: {{ tempfan.TEMP_2 }} T3: {{ tempfan.TEMP_3 }} FAN ON: {{ tempfan.FAN_ON }} T1: {{ tempfan.VOLTAGE }} GMT: {{ tempfan.GMT }}</h2><button (click)="refresh()">Refresh</button>
</div>

<label>Number Of Rows:</label><input #numRows value="5">
<button (click)="refreshRows(numRows.value)">Refresh List</button>
<ul>
    <li *ngFor="let tempfan of tempfans">
        <span>
            <h2>T1: {{ tempfan.TEMP_1 }} T2: {{ tempfan.TEMP_2 }} T3: {{ tempfan.TEMP_3 }} FAN ON: {{ tempfan.FAN_ON }} T1: {{ tempfan.VOLTAGE }} GMT: {{ tempfan.GMT }}</h2>
        </span>
    </li>
</ul>